AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=
JWT_ALGORITHM=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=aiforbariatricsurgery@gmail.com
MAIL_PORT=
MAIL_SERVER=
FRONTEND_URL=
BREAST_CANCER_EXPLANATION_QUEUE_URL=
ACCESS_TOKEN_TTL_SECONDS=3600 # 1 hour
REFRESH_TOKEN_TTL_SECONDS=604800 # 7 days
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
PEDIATRIC_APPENDICITIS_EXPLANATION_QUEUE_URL=
OPENAI_API_KEY=
DB_POOL_SIZE=